.home-section-1{
  width: auto;
  height: 400px;
  background: 
    repeating-linear-gradient(
      -75deg, 
      rgba(255, 255, 255, 0.1) 0px, 
      rgba(255, 255, 255, 0.1) 20px, 
      rgba(255, 255, 255, 0) 20px, 
      rgba(255, 255, 255, 0) 40px
    ),
    linear-gradient(to right, #FF7E00, #FF0066);
}

.home-section-2{
  position: relative;
  width: auto;
  height: 700px;
  display: grid;
  place-content: center;
}

@keyframes path { 
  0% { 
    stroke-dashoffset: 900;  
  } 
  100% { 
    stroke-dashoffset: 0;  
  } 
} 

path { 
  stroke-dasharray: 700; 
  stroke-dashoffset: 0;  
  animation: path linear;
  animation-timeline: view(y);
}
.home-section-3{
  width: auto;
  height: 500px;

  background: 
    repeating-linear-gradient(
      75deg,
      rgba(255,255,255, 0.2) 0px,
      rgba(255,255,255, 0.2) 20px,
      rgba(255,255,255, 0) 20px,
      rgba(255,255,255, 0) 40px
    ),
    linear-gradient(to right, #00B7FF, #00FFBB);
}
